* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.hero {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 3vw;
}
hr {
    margin-top: 2rem;
    opacity: 0.3;
}
p {
    color: hsl(0, 2%, 57%);
    font-weight: 500;
}
.icon:hover {
    color: hsl(29, 96%, 50%);
    cursor: pointer;
}
.icon-cart {
    margin-left: 20rem;
}
.content {
    display: flex;
    justify-content: flex-start;
    margin-top: 5rem;
}
.image {
    margin: 0;
}
.image img {
    width: 25vw;
    margin-left: 8rem;
    margin-right: 7rem;
    border-radius: 1rem;
}
.images img {
    width: 5vw;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-top: 1rem;
}
.images img:hover {
    opacity: 0.5;
    cursor: pointer;
}
.images {
    margin-left: 7.2rem;
    max-width: 30%;
}
.paragraph {
    margin: 0;
}
h1 {
    font-size: 60px;
    margin: 0;
}
.sneaker {
    color: hsl(29, 96%, 50%);
    font-weight: 600;
}









   
 




