* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --maincolor:hsl(29, 96%, 50%);
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.hero {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 3vw;
}
.icon-menu {
    display: none;
}
.icon-menu2 {
    display: none;
}
hr {
    margin-top: 2rem;
    opacity: 0.3;
}
p,
span {
    color: hsl(0, 2%, 57%);
    font-weight: 500;
}
span:hover{
    color: var(--maincolor);
    cursor: pointer;
}
.icon-cart {
    margin-left: 20rem;
}
ul {
    list-style: none;
    margin-left: 1rem;
    padding: 0.5rem;
    background-color: hsl(0, 0%, 87%);
    position: absolute;
    left: 0;
    min-width: 12.5rem;
    top: 3rem;
    display: none;
    z-index: 2;
}

ul li a {
    display: block;
    padding: 0.9375rem;
    text-decoration: none;
    color: hsl(0, 0%, 20%);
    transition: 0.3s;
}
ul li a:hover {
    padding-left: 1.5625rem;
}
ul li:not(:last-child) a {
    border-bottom: 0.0625rem solid hsl(29, 96%, 50%);
}
.content {
    display: flex;
    justify-content: flex-start;
    margin-top: 4rem;
}
.image {
    margin: 0;
}
.image img {
    width: 29vw;
    margin-left: 8rem;
    margin-right: 7rem;
    border-radius: 1rem;
}
.big {
    position: relative;
}
.big img {
    position: absolute;
} 
.small {
    display: flex;
    flex-direction: row;
    margin-left: 7.2rem;
}
.small img {
    width: 6vw;
    border-radius: 0.5rem;
    margin: 0;
    margin-left: 1.25rem;
    margin-top: 25rem;
}
.small img:hover {
    opacity: 0.5;
    cursor: pointer;
}
.text {
    margin-left: 7rem;
}
p {
    margin-right: 20rem;
}
h1 {
    font-size: 3.75rem;
    margin: 0;
}
.sneaker {
    color: var(--maincolor);
    font-weight: 600;
}
.buttons {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}
.number {
    background-color: #eee;
    width: 10vw;
    height: 6vh;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.number img {
    margin-top: 1.25rem;
    width: 1vw;
    height: 1vh;
}
.zero {
    color: black;
    margin-top: 13px;
}
.money {
    display: flex;
    flex-direction: row;
    align-items: center;
} 
.money span {
    margin-left: 1rem;
    background-color: hsl(29, 86%, 72%);
    width: 3vw;
    text-align: center;
    color: rgb(228, 103, 1);
    border-radius: 0.3rem;
}
h2 {
    margin: 0;
}
del {
    opacity: 0.5;
}
button {
    width: 18vw;
    height: 6vh;
    background-color: var(--maincolor);
    border: none;
    color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    text-align: center;
    font-weight: 700;
    margin-left: 1rem;
}
button img {
    width: 2.3vw;
    padding-right: 1rem;
}
@media screen and (min-width: 2560px) {
    .image img {
        height: 21vh;
        width: 27vw;
    }
    .small img {
        height: 7vh;
        width: 6vw;
    }
    button {
        width: 20vw;
        height: 4vh;
    }
    button img {
        width: 1.3vw;
    }
    .zero {
        margin-top: 25px;
    }
    .number img {
        margin-top: 2.25rem;
    }
    .number {
        height: 4vh;
    }
    p, span {
        font-size: 30px;
    }
}
@media screen and (max-width: 1440px) {
    .image img {
        height: 33vh;
    }
    .small img {
        height: 8vh;
        margin-top: 23rem;
    }
}
@media screen and (max-width: 1024px) {
    .image img {
        width: 31vw;
        height: 56vh;
    }
    .small img {
        width: 6vw;
        height: 7vh;
        margin-top: 30rem;
    }
    p, span {
        margin-left: 1rem;
    }
    p {
        width: 35vw;
    }
    h1 {
        width: 48vw;
    }
    button img {
        width: 3vw;
    }
    .money span {
        width: 4vw;
    }
}
@media screen and ( max-width: 767px) {
    .hero {
        padding: 0;
    }
    .content {
        margin: 0;
    }
    .avatar {
        width: 8vw;
    }
    .text {
        margin-top: 25rem;
        margin-left: 0.9rem;
    }
    h1 {
        font-size: 3rem ;
        width: 91vw;
    }
    p {
        margin: 0;
        width: 82vw;
    }
    .small {
        display: none;
    }
    span {
        display: none;
    }
    .sneaker,
    .fifty,
    .zero,
    .icon-menu{
        display: block;
    } 
    .sneaker {
        margin: 0;
    }
    .zero {
        margin: 14px;
    }
    hr {
        display: none;
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }
    button {
        margin: 0;
        width: 85vw;
    }
    button img {
        width: 10vw;
    }
    .number {
        width: 85vw;
        margin-bottom: 1rem;
    }
    .number img {
        width: 7vw;
    }
    .money span {
        width: 15vw;
    }
    .icon-cart {
        margin-left: 5.625rem;
    }
    .image img {
        margin: 0;
        width: 95vw;
        height: 47vh;
    }
}














